@import '../../utils/globals';
.bkg {
  background: $mediumBlue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top, $mediumBlue 80% , $white 20%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, $mediumBlue 80%, $white  20%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, $mediumBlue 80%, $white  20%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, $mediumBlue 80% , $white  20%); /* Standard syntax */
  margin-top:-25px;
  @media screen and (max-width: $break-small) {
    background: $mediumBlue;
    height:100%;
    width:100%;
  }
  }

.btnMain{
  position:absolute; 
    top:60%; 
    left:50%; 
    transform:translate(-50%, -60%); 
    text-align: center;
    @media screen and (max-width: $break-small) {
     top:50%; 
  }
}

.imageContainer{
  display: flex;
  flex:1;
  justify-content: center;
  vertical-align: middle;
  margin: auto;
  height: 80vh;
  @media screen and (max-width: $break-small) {
    display: none;
  }
}

.imageContainer_mobile{
  display: flex;
  flex:1;
  justify-content: center;
  vertical-align: middle;
  margin: auto;
  height: 100vh;
  width: 100%;

  @media screen and (min-width: $break-medium) {
    display: none;
  }
}

.image{
  object-fit: contain;
  // opacity: 1;
  @media screen and (max-width: $break-small) {
   height: 100%;
  width: 100%;
    object-fit: cover;

  }
}