@import '../../utils/globals';


.btn{
    @include wide-text;
    background-color: $orange;
    border-radius: 25px;
    border: none;
    outline: none;
    font-family: $paragraph;
    font-size: $smallFont;
}

.btnLarge{
    @extend .btn;
    height: 50px;
    width: 280px;
    color: $white;
    &:hover{
        background-color: $plum;

    }
    font-family: $paragraph;
    font-size: $mediumFont;
    letter-spacing: 1.5;
    text-transform: uppercase;

}

.btnLarge_inverse{
    @extend .btnLarge;
    background-color: $plum;
    &:hover{
        background-color: $orange;

    }
}

.btnxLarge{
    @extend .btn;
    height:55px;
    width: 280px;
    color: $white;
    transition: all 0.5s;
    &:hover{
        background-color: transparent;
        -webkit-box-shadow: none;
    box-shadow: none;
        // background-color: $plum;
        // -webkit-box-shadow: 0px 5px 8px 2px rgba(184, 107, 120, 0.33); 
        // box-shadow: 0px 5px 8px 2px rgba(184, 107, 120, 0.33);
    }
   
    -webkit-box-shadow: 0px 5px 8px 2px rgba(239, 78, 37, 0.33); 
    box-shadow: 0px 5px 8px 2px rgba(239, 78, 37, 0.33);

}

.btnxLarge span {
	z-index: 2;	
	display: block;
	position: absolute;
	width: 100%;
    height: 100%;	
    font-family: $paragraph;
    font-size: $mediumFont;
    letter-spacing: 1.5px;
    top:30%;
    left:0;
}
.btnxLarge::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	background-color: $orange;
    border-radius: 25px;

}
.btnxLarge::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
    background-color: $orange;
    border-radius: 25px;

}
.btnxLarge:hover::before {
  transform: rotate(-45deg);
  background-color: $orange;
}
.btnxLarge:hover::after {
  transform: rotate(45deg);
  background-color: $orange;
}
.btnIcon{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: $white;
    border: 1px solid $grey;
    color: $mediumGrey;
    margin: 10px;
    font-size: 20px;
    outline: none;
    &:hover{
        transform: scale(1.1);
        border: 1px solid $plum;
        color: $plum;

    }
}

.btnSmall{
    @extend .btn;
    height:30px;
    width: 140px;
    color: $white;
    letter-spacing: .5;
    &:hover{
        background-color: $plum;
    }

}