@import '../../utils/globals';

.container{
  justify-self: center;
  width: 70%;
  position: relative;
  margin-left: 27%;
  padding-right: 20px;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap:wrap;
  margin:auto;
  margin-top:50px;
}

.sectionHeader{
  color:$plum;
  text-transform: uppercase;
  font-size: $mediumFont;
  font-family: $title;
}

.calendarColumn{
    width:25%;
    background-color: $lightGrey;
    min-height: 500px;
    border-radius: 10px;
    margin-right:50px;
    margin-bottom:50px;
    padding: 15px;
}






