@import '../../utils/globals';

.container{
  justify-self: flex-end;
  width: 70%;
  position: relative;
  margin-left: 27%;
  padding-right: 20px;
}

.searchContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap:wrap;
  margin-bottom:50px;
}

.sectionHeader{
  color:$plum;
  text-transform: uppercase;
  font-size: $mediumFont;
  font-family: $title;

}






