@import '../../utils/globals';

.btn{
    background-color: $white;
    border-radius: 25px;
    outline: none;
    text-transform: capitalize;
    font-family: $paragraph;
   
    color: $orange
}

.btnLarge{
    @extend .btn;
    height: 50px;
    display: inline-block;
    &:hover{
        background-color: $yellow;
        border:none;

    }
    font-family: $paragraph;
    font-size: $mediumFont;
    letter-spacing: 1.5;
    margin: 10px;
    font-size: $mediumFont;
    border: 1px solid $orange;
    padding: 10px 40px;

}

.btnxLarge{
    @extend .btn;
    height:55px;
    width:60%;
    margin: 10px 0;
    &:hover{
        background-color: $yellow;
        border:none;
    }
    font-size: $mediumFont;
}

.btnIcon{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: $white;
    border: 1px solid $grey;
    color: $mediumGrey;
    margin: 10px;
    font-size: 20px;
    outline: none;
    &:hover{
        transform: scale(1.1);
        border: 1px solid $plum;
        color: $plum;

    }
}


.btnxSmall{
    @extend .btn;
    border: 1px solid $mediumBlue;
    color:$mediumBlue;
    font-size: $smallFont;
height: 20px;
padding: 2px 15px;
margin: 0px 3px;
background-color: transparent;
}