@import '../../utils/globals';

.container{
    width:700px;
    height:300px;
    border: 1px solid $lightGrey;
    border-radius: 15px;
}

.row{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
flex-wrap: nowrap;
}

.column{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  width:100px;
  margin:10px;
}

.date{
font-family: $paragraph;
font-size: $mediumFont;
color:$darkGrey;
line-height: .8;
}

.day{
  font-family: $paragraph;
  font-size: $smallFont;
  color:$black;
  line-height: .8;
  margin:0;
  margin-bottom: 20px;
}

.time{
  font-family: $paragraph;
  font-size: $mediumFont;
  color:$darkGrey;
  margin-bottom: 20px;
  background-color: $lightGrey;
  padding:20px;
  border-radius: 10px;
  margin:30px 0;
  cursor: pointer;
  &:hover{
    background-color: $yellow;
}
}

.time_selected{
  @extend .time;
  background-color: $yellow;
}