@import '../../utils/globals';

.container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end;
}

.menu{
    display: flex;
    flex-direction: row;
  }
  
  .menuOption{
    color:$plum;
    border-bottom: 1.5px solid $plum;
    cursor: pointer;
    margin-right:40px;
    height:20px;
    &:hover{
      background-color: $yellow;
    }
  }
  
  