@import '../../utils/globals';

.container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin:30px;
}

.subtitle{
    font-size: $bigFont;
    margin: 0;
    text-align: center;
    @media screen and (max-width: $break-small) {
        line-height: 1.2;
  }
}

.subtext{
    font-size: $mediumFont;
    color: $mediumGrey;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px;
    @media screen and (max-width: $break-small) {
        margin: 40px 0;
  }
    
}

.btn{
    position: absolute;
    align-self: flex-end;
    bottom: 40px;
    right:40px;
    @media screen and (max-width: $break-small) {
        bottom: 20px;

  }
}

.btn_connect{
    text-align: center;
}

.btn_custom{    
    @include wide-text;
    background-color: $orange;
    border-radius: 25px;
    padding-left:20px;
    padding-right:20px;
    height:40px;
    border: none;
    outline: none;
    font-family: $paragraph;
    font-size: $smallFont;
    align-self: center;
    color: $white;
    letter-spacing: .5;
    &:hover{
        background-color: $plum;
    }


}
