@import '../../../utils/globals';

.bkg {
  display: flex;
}

.scrollRow{
  display: flex;
  flex-direction:row;
  height: 280px;
  width: 800px;
  justify-content: flex-start;
  align-items: center;
  margin:auto;
  overflow: auto;
  overflow-y: scroll;
  margin-bottom:80px;
  margin-top: 60px;
  flex-wrap: wrap;
  @media screen and (min-width: $break-large) {
    height: 450px;
  }
  @media screen and (max-width: $break-small) {
  width: 90%;
  }

}