@import '../../utils/globals';

.nav{
    color: $orange;
    padding: 50px 100px 35px 50px;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    @media screen and (max-width: $break-small) {
        padding: 50px 0;
        justify-content: space-around;
      }
    li{
        list-style-type: none;
        
        a{
            @include wide-text;
            text-decoration: none;
            color: $orange;
            margin: 0 25px;
            padding-bottom: 5px;
            text-transform: uppercase;
            font-size: $smallFont;
            font-family: $title;
            &:hover{
                border-bottom: 2px solid $orange;
            }
        }
    }
}

.logoContainer{
    position: absolute;
    top: 5px;
    left: 70px;

}

.logo{
    object-fit: contain;
    width: 100px;
    height: 100px;
}