@import '../../../utils/globals';

.bkg {
  display: flex;
}

.photoHolder{
  width: 120px;
  height:120px;
  background-color: $grey;
  margin:auto;
  border-radius: 10%;
  margin-bottom: 30px;
  }

.photoContainer{
  margin: 50px;
}

.bioContainer{
margin: 40px;
}

.bioArea{
  border: 2px solid $mediumGrey;
  border-radius: 20px; 
  height: 200px;
  width: 600px;
  font-size: $mediumFont;
  padding:15px;
}


