@import '../../utils/globals';

.cardBorder{
    width: 300px;
    height:140px;
    border: 1px solid $lightGrey;
    margin: 10px;
  }

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap:nowrap;
  margin: 15px;
}


.footerRow{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap:wrap;
}

.photoContainer{
  padding-right: 10px;
}


.photoHolder{
  width: 110px;
  height:110px;
  background-color: $lightGrey;
}

.textHolder{
margin-top:-15px;
}

.title{
color:$darkGrey;
font-family: $paragraph;
}

.smallText{
  color:$darkGrey;
font-family: $paragraph;
  font-size: $smallFont;
  line-height: .1rem;
}

.paragraphRow{
  text-align: left;
  margin: 0px 30px;
}




