@import '../../utils/globals';

.container{
  width:93%;
  background-color: $white;
  margin:auto;
  margin-top: 20px;
  padding: 10px;
}

.row{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
margin:25px 0;

}

.photoHolder{
  width: 80px;
  height: 80px;
  background-color: $lightGrey;
  border-radius: 20px;
}

.projectTitle{
  color:$black;
  font-family: $paragraph;
}

.description{
  font-size: $smallFont;
}

.subtext{
  font-family: $title;
}

.time{
  text-align: right;
  font-size: $smallFont;
}

.type{
  font-size: $smallFont;
}

.exchangeIcon{
  width:20px;
}


