@import '../../utils/globals';

.container{
  justify-self: flex-end;
  width: 70%;
  position: relative;
  margin-left: 27%;
  padding-right: 20px;
  @media screen and (max-width: $break-small) {
    width: 100%;
    margin-left: 0;
    margin-top: 60%;
    padding:10px;
    justify-self: center;
    justify-content: center;
  }
}

.searchContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap:wrap;
  margin-bottom:50px;
  @media screen and (max-width: $break-small) {
   justify-content: center;
  }
}

.sectionHeader{
  color:$plum;
  text-transform: uppercase;
  font-size: $mediumFont;
  font-family: $title;
font-weight: 400;
}






