@import '../../utils/globals';

.profileBorder{
    width: 400px;
    height:420px;
    border: 1px solid $lightGrey;
    border-radius: 10px;
    margin:auto;
     @media screen and (max-width: $break-small) {
    width: 100%;
    height:100%;
    padding-bottom:20px;
  }
  }

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap:nowrap;
  margin: 30px 30px 0px 30px;
     @media screen and (max-width: $break-small) {
  margin: 15px 15px 0px 15px;
  }
}

.footerRow{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap:wrap;
  margin:0px 20px;
}

.textHolder{
margin-left:20px;
text-align: left;
}

.photoHolder{
  width: 120px;
  height:120px;
  background-color: $lightGrey;
  border-radius: 10%;
  margin-bottom: 30px;
}

.smallText{
  color:$mediumGrey;
  font-size: $smallFont;
  font-family: $subtitle;
  line-height: .1rem;
}

.paragraphRow{
  text-align: left;
  margin: 0px 30px;
}




