@import '../../utils/globals';

.bkg {
  display: flex;
}

.btnMain{
  display: flex;
  flex:1;
  justify-content: center;
  vertical-align: middle;
}

.form{
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center
  margin 0 auto;
}